/* incase you can't use tailwind, write your css here. make sure you write your css within the comment text with your name */

/* finbarr styles starts */
 h1{
    color: blue;
 }

/* finbarr styles end */

/* Doyin styles starts */
 

/* Doyin styles end */

/* Mubarak styles starts */
 

/* Mubarak styles end */

/* Dimeji styles starts */
  .arrow-left{
   background-color: black;
   border-radius: 9999px;
 }
 .arrow-right{
   background-color: black;
   border-radius: 9999px;
 } 

/* Dimeji styles end */